### Libraries

In [2]:
from sqlalchemy import create_engine
import pandas as pd
from IPython.display import display

#### Connection w/ DB and creation of DF

In [3]:

# Creates de connection with Mysql DB
db_connection_str = 'mysql://root:555495@localhost/nothemetweets'
db_connection = create_engine(db_connection_str)

# Creates the dataframe accordingly to the given query
df_tabela_emocoes = pd.read_sql('SELECT * FROM tweets;', con=db_connection)

# Presentation of dataframe
display(df_tabela_emocoes.head(n=10))
print('Table has {:,} rows and {} columns'.format(df_tabela_emocoes.shape[0], df_tabela_emocoes.shape[1]))

                                             Content
0  "1031761728445530000","@Tixaa23 14 para eu ir ...
1  "1031761040462270000","@drexalvarez O meu like...
2  "1031760962372680000","Eu só queria conseguir ...
3  "1031760948250450000",":D que lindo dia !","Tu...
4  "1031760895985240000","@Primo_Resmungao Pq da ...
5  "1031760822543020000","@BadWolf_Wagner @DanieV...
6  "1031760780641710000","@Chyko661 @g1 [+] Carci...
7  "1031760749813800000","Aquela mina da limpeza,...
8  "1031760690778970000","@narryfools aqui, esper...
9  "1031760658600280000","@fefocaires se és feliz...

Table has 785,815 rows and 1 columns

In [11]:
#string = df_tabela_emocoes.head(n=10).values
string_tabela_emocoes = df_tabela_emocoes.values
lista_string_raw = []
lista_string_constructed = [] 
dic_tweet = {}
for item_e in string_tabela_emocoes:
    lista_string_raw.append(item_e[0].split('","'))
for item_r in lista_string_raw:
    if len(item_r) == 3:
        if item_r[0][0] == '"' and item_r[2][-1] == '"':
            string_constructed = [item_r[0][1:]] + [item_r[1]] + [item_r[2][:-1]]
            lista_string_constructed.append(string_constructed)
    elif 1 < len(item_r) < 3:
        string_constructed = [item_r[0][1:]] + [item_r[1]] 
        lista_string_constructed.append(string_constructed)
for item_c in lista_string_constructed:
        if len(dic_tweet) == 0:
            dic_tweet['id'] = []
            dic_tweet['text'] = []
            dic_tweet['date'] = []
            dic_tweet['notOk'] = {}
            dic_tweet['notOk']['id'] = []
            dic_tweet['notOk']['text'] = []
            dic_tweet['notOk']['content'] = []
        elif len(item_c) == 3:     
            dic_tweet['id'] += [item_c[0]]
            dic_tweet['text'] += [item_c[1]]
            dic_tweet['date'] += [item_c[2]]
        elif len(item_c) == 2:
            dic_tweet['notOk']['id'] += [item_c[0]] 
            dic_tweet['notOk']['text'] += [item_c[1]]
        elif len(item_c) == 1:
            dic_tweet['notOk']['content'] += [item_c]
dict_tweet_constructed = {"id": dic_tweet['id'], "text": dic_tweet['text'], 
                            "date": dic_tweet['date']}
dict_tweet_constructed_nok = {"id": dic_tweet['notOk']['id'], 'text': dic_tweet['notOk']['text']}
tweet_df = pd.DataFrame(data=dict_tweet_constructed, columns=['id', 'text', 'date'])
tweet_df_not_ok = pd.DataFrame(data=dict_tweet_constructed_nok, columns=['id', 'text'])
print("DF with all data: ")
display(tweet_df)
print("DF with data loss: ")
display(tweet_df_not_ok)

DF with all data:

,id,text,date
0,1031761040462270000,@drexalvarez O meu like eu já dei na época :),Tue Aug 21 04:32:55 +0000 2018
1,1031760962372680000,Eu só queria conseguir comer alguma coisa pra ...,Tue Aug 21 04:32:37 +0000 2018
2,1031760948250450000,:D que lindo dia !,Tue Aug 21 04:32:33 +0000 2018
3,1031760895985240000,"@Primo_Resmungao Pq da pr jeito!!é uma oferta,...",Tue Aug 21 04:32:21 +0000 2018
4,1031760822543020000,"@BadWolf_Wagner @DanieVedo Eu entendi, mas iss...",Tue Aug 21 04:32:03 +0000 2018
...,...,...,...
699034,1050705141207360000,Acordar 8 horas é tão bom :),Fri Oct 12 11:10:01 +0000 2018
699035,1050706655049100000,"@mayckcunha Olá, Mayck. Você já é cliente Clar...",Fri Oct 12 11:16:02 +0000 2018
699036,1050705846907390000,Opa tava na merda mm e fiquei logo mais feliz ...,Fri Oct 12 11:12:49 +0000 2018
699037,1050705490232120000,@andrebraga2806 Foi como a tua lealdade :),Fri Oct 12 11:11:24 +0000 2018
699038,1050704920922520000,Feliz dia das crianças!! De hoje e de ontem......,Fri Oct 12 11:09:08 +0000 2018

DF with data loss:

                        id                                               text
0      1031756385741090000  @Haddad_Fernando @geraldoalckmin @MichelTemer ...
1      1031738562847360000  e intrigαs. Os melhores meses dα minhα vidα. p...
2      1031738560716720000  Hoje é um diα mαis que especiαl.. porque hoje,...
3      1031739485933980000  Se você encontrasse um gênio da lâmpada, quais...
4      1031728247975880000  @pmkiay Oii, eu vou realizar uma sessão de exi...
...                    ...                                                ...
86769  1050726048353080000     @PedroDerbli Vou sim :) Sábado estarei por lá
86770  1050713349141460000  @DAlckmim Olá, Diego! Você pode dar uma olhadi...
86771  1050723722066370000  Hoje partilho convosco o makeoff do layout de ...
86772  1050717857946980000  @FallinNautilus VC mora perto de mim Nada impe...
86773  1050711703858670000  Estes foram os guerreiros de 2017...Este ano, ...

[86774 rows x 2 columns]